# Operating System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store
.Spotlight-V100
.Trashes

# Editor & IDE Directories
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary & Log files
*.log
*.tmp
~$*
